
* {font-family: 'Plus Jakarta Sans';
	
	  margin: 0;
      padding: 0;
      box-sizing: border-box;
	
    }


h2  {
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 45px;
}

p2 {
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 45px;
	
}
.section2 {
	width: 95%;
	margin:auto;
}

.caja1{
	width: 99%;
	margin-bottom: 2em;
	}

.card-container {
      display: flex;
	margin-top: 1em;
      gap: 20px;                   /* Espacio entre cards */
      justify-content: space-between;
      flex-wrap: wrap;             /* Para pantallas estrechas */
    }

.card {
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      overflow: hidden;
      flex: 1;                      /* Las hace de igual ancho */
      min-width: 250px;             /* No se achiquen demasiado */
      transition: transform 0.3s, box-shadow 0.3s;
    }


   .card-title {
   font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
color: #121712;
      margin-bottom: 10px;
    
    }

    .card-text {
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

color: #638763;
		  margin-bottom: 20px;
    }




